# Created by venv; see https://docs.python.org/3/library/venv.html

# Databases
*.db
*.sqbpro

# Security Keys & Config
*.json
.vscode/

# Python Virtual Environments
bin/
etc/
lib/
share/
pyvenv.cfg
__pycache__/

# Mac System files
.DS_Store
